*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --outer-space-crayola: #2f3f3eff;
  --rich-black-fogra-29: #091926ff;
  --olive-green: #aca95e;
  --coyote-brown: #be9f92;
  --alice-blue: #dde8eaff;
}

html {
  scroll-behavior: smooth;
}

/** ==== TYPOGRAPHY ==== **/
html,
body {
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  html,
  body {
    font-size: 22px;
  }
}

body {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  line-height: 1.5;
  color: whitesmoke;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  line-height: 1;
}

h1,
h3 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.9rem;
}

h4 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: whitesmoke;
  font-family: Albert Sans, sans-serif;
  font-weight: 300;
  transition: all 150ms ease-in-out;
}

a:hover,
a:focus {
  transform: scale(1.1);
}

/** ==== BUTTON ==== **/

button {
  all: unset;
  background-color: var(--outer-space-crayola);
  cursor: pointer;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button > img {
  max-width: 80%;
  align-self: center;
}
/** ==== LAYOUT ==== */

html,
body,
#root {
  min-height: 100vh;
}

html {
  background-color: var(--rich-black-fogra-29);
}

.container {
  width: 90%;
  min-height: 90vh;
  max-width: 1200px;
  padding: 1rem 0;
  margin-bottom: 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  border: 1px solid red;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 1.5rem 0;
    max-width: 70vw;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  header {
    margin-bottom: 2rem;
  }
}

.home--link--picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--olive-green);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.home--link--picture:hover,
.home--link--picture:focus {
  outline: 2px solid var(--olive-green);
}

h3 {
  text-align: right;
}

h4 {
  text-decoration: underline var(--olive-green) 1px;
  text-underline-offset: 0.5rem;
}

button {
  position: fixed;
  bottom: 2%;
  right: 2%;
}

nav {
  background: var(--outer-space-crayola);
  width: 96vw;
  height: 10vh;
  border-radius: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  bottom: 2%;
  right: 50%;
  transform: translateX(50%);
  z-index: 100; /* to always be on top of the content */
}

@media screen and (min-width: 768px) {
  nav {
    max-width: 70vw;
    right: 50%;
    transform: translateX(50%);
  }
}

.navlink {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar--icon {
  width: 30px;
  height: 30px;
}

@media screen and (min-width: 768px) {
  .navbar--icon {
    width: 35px;
    height: 35px;
  }
}

/* Home */

.profile--picture {
  display: block;

  width: 100%;
  max-width: 500px;

  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .profile--picture {
    max-width: 525px;
  }
}

/* About */

.logo--container {
  min-height: 50vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
}

/* Projects */

.projects--list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}

@media screen and (min-width: 768px) {
}

.project--item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75vw;
  border-bottom: 1px solid var(--olive-green);
  margin-bottom: 1.5rem;
}

.project--title {
  margin-bottom: 1rem;
}

.project--description {
  margin-bottom: 1rem;
}

.project--card {
  height: 75vh;
  background-position: center;
  background-size: cover;
  border-radius: 2rem;
  margin-bottom: 1rem;
}

.project--video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
}

.project--links {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1.5rem;
}

/* Contact */

.contact--links--container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.contact--link {
  margin-bottom: 1rem;
}

/*

=========== ANIMATIONS =========== 

*/

/* external links */

.external--link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: whitesmoke;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.external--link:hover::before,
.external--link:focus::before {
  transform: scaleX(1);
}

/* -- Navbar Animation -- */

nav {
  transition: all 250ms;
}

.navbar--hidden {
  visibility: hidden;
  width: 0vw;
}

/* Navlinks Animation */

.navlink {
  visibility: visible;
}

.navlink--hidden {
  visibility: hidden;
  transition-property: transform;
}

/* active class for .navlink */
.active {
  filter: brightness(0) saturate(100%) invert(79%) sepia(8%) saturate(2079%)
    hue-rotate(20deg) brightness(84%) contrast(84%); /* emulates olive green color */
  transform: scale(1.2);
}

/* Button Animation */

button {
  visibility: visible;
  transition: all 250ms;
  z-index: 99;
}

.button--hidden {
  transform: scale(0);
}

.menu--icon {
  visibility: visible;
  transition: all 250ms;
}

button:hover .menu--icon,
button:focus .menu--icon {
  transform: rotate(180deg);
  filter: brightness(0) saturate(100%) invert(79%) sepia(8%) saturate(2079%)
    hue-rotate(20deg) brightness(84%) contrast(84%); /* emulates olive green color */
}

/* -- Page Animation -- */

/* classes for page transition with CSSTransition*/
.fade-enter {
  opacity: 0;
  transform: translate(0, +50px);
  z-index: 1;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: opacity 250ms ease-out, transform 250ms;
}
.fade-exit {
  display: none;
}

/* -- Project Animation -- */

.project--video {
  transition: all 250ms;
}
