*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --outer-space-crayola: #2f3f3eff;
  --rich-black-fogra-29: #091926ff;
  --olive-green: #aca95e;
  --coyote-brown: #be9f92;
  --alice-blue: #dde8eaff;
}

/** ==== TYPOGRAPHY ==== **/
html,
body {
  font-size: 18px;
}

body {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  line-height: 1.5;
  color: whitesmoke;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  line-height: 1;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.2rem;
}

a {
  text-decoration: none;
  color: whitesmoke;
  font-family: Albert Sans, sans-serif;
  font-weight: 300;
}

/** ==== BUTTON ==== **/

button {
  all: unset;
  background-color: var(--outer-space-crayola);
  cursor: pointer;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

button > img {
  display: block;
  margin: 0 auto;
}
/** ==== LAYOUT ==== */

html {
  background-color: var(--rich-black-fogra-29);
}

.container {
  padding: 1.5rem;
  margin-bottom: 100px;
  margin: 0 auto;
}

h1 {
  margin-bottom: 1rem;
}

h2 {
  margin-bottom: 1.5rem;
}

button {
  position: fixed;
  bottom: 1%;
  right: 2%;
}

nav {
  background: var(--outer-space-crayola);
  width: 96vw;
  height: 90px;
  border-radius: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  bottom: 1%;
  right: 2%;
  z-index: 100; /* to always be on top of the content */
}

.navlink {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar--icon {
  width: 30px;
  height: 30px;
}

/* About */

.profile--picture {
  display: block;
  width: 100%;
  max-width: 500px;
  border-radius: 3rem;
  margin: 0 auto;
}

.logo--container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Projects */

.projects--list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}

.project--item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  border-bottom: 1px solid var(--olive-green);
  margin-bottom: 1.5rem;
}

.project--title {
  margin-bottom: 1rem;
}

.project--description {
  margin-bottom: 1rem;
}

.project--card {
  height: 75vh;
  background-position: center;
  background-size: cover;
  border-radius: 2rem;
  margin-bottom: 1rem;
}

.project--video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
}

.project--links {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1.5rem;
}

/* Contact */

.contact--links--container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/** ==== ANIMATIONS ==== **/

/* links */

a {
  transition: all 150ms;
}

a:hover,
a:focus {
  transform: scale(1.1);
}

/* external links */

.external--link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: whitesmoke;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.external--link:hover::before,
.external--link:focus::before {
  transform: scaleX(1);
}

/* -- Navbar Animation -- */

nav {
  transition: all 250ms;
}

.navbar--hidden {
  visibility: hidden;
  width: 0vw;
}

/* Navlinks Animation */

.navlink {
  visibility: visible;
}

.navlink--hidden {
  visibility: hidden;
  transition-property: transform;
}

/* active class for .navlink */
.active {
  filter: brightness(0) saturate(100%) invert(79%) sepia(8%) saturate(2079%)
    hue-rotate(20deg) brightness(84%) contrast(84%); /* emulates olive green color */
  transform: scale(1.2);
}

/* Button Animation */

button {
  visibility: visible;
  transition: all 250ms;
  z-index: 99;
}

.button--hidden {
  transform: scale(0);
}

.menu--icon {
  visibility: visible;
  transition: all 250ms;
}

button:hover .menu--icon,
button:focus .menu--icon {
  transform: rotate(180deg);
  filter: brightness(0) saturate(100%) invert(79%) sepia(8%) saturate(2079%)
    hue-rotate(20deg) brightness(84%) contrast(84%); /* emulates olive green color */
}

/* -- Page Animation -- */

/* classes for page transition with CSSTransition*/
.fade-enter {
  opacity: 0;
  transform: translate(0, +50px);
  z-index: 1;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: opacity 250ms ease-out, transform 250ms;
}
.fade-exit {
  display: none;
}

/* -- Project Animation -- */

.project--video {
  transition: all 250ms;
}
